@media (min-width: 1400px) {}

@media (min-width: 1200px) and (max-width: 1399.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {

    /*----------------manu part start--------*/
    .main_manu {
        height: 90px;
        line-height: 90px;
    }

    .main_manu .logo_img img {
        width: 130px !important;
        margin-left: 20px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .main_manu button {
        color: #fff;
    }

    .main_manu button i {
        font-size: 30px;
    }

    .main_manu .search {
        display: none;
    }

    .main_manu ul {
        background: #303030;
        border-radius: 0 0 10px 50px;
    }

    .main_manu ul li a {
        text-align: center;
        background: #e8631c;
        line-height: 30px;
        margin: 10px 30px;
        border-radius: 30px;
        border: 1px solid #fff;
        transition: all linear .3s;
        font-weight: 500;

    }

    .nav-link:focus,
    .nav-link:hover {
        color: #fff;
    }

    .main_manu ul li a:hover {
        background: #fff;
        border: 2px solid #e8631c;
        color: #e8631c;
    }

    .main_manu ul li:first-child {
        margin-top: 20px;
    }

    .main_manu ul li:last-child {
        margin-bottom: 40px;
    }

    /*----------------manu part end--------*/
    /*----------------banner part start--------*/
    #banner {
        padding: 180px 0 60px;
    }

    .banner_text h1 {
        font-size: 60px;
    }

    .banner_text p {
        padding-right: 0;
        text-align: justify;
        font-size: 18px;
        width: 70%;
    }

    .banner_text a {
        padding: 10px 30px;
        font-size: 18px;
        margin-top: 20px;
    }

    /*----------------banner part end--------*/
    /*----------------tour part start--------*/
    #dance_ture {
        padding: 60px 0 60px;
    }

    .common_head h3 {
        font-size: 50px;
    }

    .common_head p {
        font-size: 18px;
        width: 60%;
        line-height: 22px;
        padding-top: 15px;
        text-align: center;
    }

    .ture_width {
        width: 33.33%;
    }

    .dance_ture_col {
        margin-top: 40px;
    }

    .dance_text h3 {
        font-size: 25px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .dance_text p {
        font-size: 15px;
        line-height: 15px;
        padding: 0 30px 30px;
    }

    /*----------------tour part end--------*/
    /*----------------pricing part start--------*/
    #pricing {
        padding: 60px 0 60px;
    }

    .pricing_width {
        width: 33.33%;
    }

    .pricing_col {
        margin-top: 30px;
    }

    .pricing_col .icon {
        font-size: 100px;
    }

    .pricing_text h3 {
        font-size: 30px;
    }

    .pricing_text p {
        font-size: 16px;
        line-height: 17px;
        padding: 0 10px;
        padding-top: 10px;
    }

    .pricing_text a {
        font-size: 16px;
        padding: 10px 0;
        margin: 20px 30px 0;
    }

    /*----------------pricing part end--------*/
    /*----------------amazing part start--------*/
    .amazing_text {
        padding-top: 150px;
        padding-left: 30px;
        padding-right: 0;
    }

    .amazing_text h3 {
        font-size: 35px;
    }

    .amazing_text p {
        font-size: 16px;
        line-height: 18px;
        padding-top: 10px;
    }

    .amazing_text a {
        font-size: 17px;
        padding-top: 30px;
        padding: 7px 80px;
        margin-top: 25px;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .amazing_best_width {
        width: 50%;
    }

    .first_col {
        width: 50%;
    }

    .second_col {
        width: 50%;
    }

    /*----------------amazing part end--------*/
    /*----------------pricing part start--------*/
    #statistics {
        padding: 60px 0;
    }

    .statistaics_width {
        width: 33.33%;
    }

    /*----------------pricing part end--------*/
    /*----------------bottom banner part start--------*/
    #bottom_banner {
        padding: 100px 0;
    }

    .bottom_banner_text p {
        font-size: 25px;
        line-height: 25px;
        width: 70%;
        text-align: center;
    }

    .bottom_banner_text h3 {
        font-size: 40px;
        padding-top: 10px;
    }

    /*----------------bottom banner part end--------*/
    /*----------------subscribe part start--------*/
    #subscribe {
        background: var(--hover);
        padding: 50px 0;
    }

    .subscribe_main form #email {
        width: 50%;
        height: 40px;
        font-size: 12px;
        margin-left: 20%;
    }

    .subscribe_main form {
        position: relative;
        text-align: left;
        padding: 12px;
    }

    .subscribe_main form button {
        width: 20%;
        height: 40px;
        font-size: 13px;
        line-height: 40px;
        position: absolute;
        top: 22px;
        right: 20%;
    }

    /*----------------subscribe part end--------*/
    /*----------------footer  part start--------*/
    #footer {
        padding: 20px 0 50px;
        text-align: center;
    }

    .footer_common_head h3 {
        font-size: 20px;
        padding-bottom: 10px;
        padding-top: 30px;
    }

    .related_text p {
        font-size: 14px;
        padding-right: 0px;
        line-height: 17px;
        width: 70%;
        margin: 0 auto;
    }

    .icon_center {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .related_text ul li a {
        margin: 0 5px;
    }

    .related_text ul li a i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        margin: 15px 0 0;
    }

    .related_text ul li a i:hover {
        color: var(--hover);
    }

    .middel_helf {
        width: 30%;
        text-align: center;
    }

    .middel_text ul li a {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .other {
        width: 30%;
        text-align: center;
    }

    /*----------------footer part end--------*/
}

@media (min-width: 576px) and (max-width: 767.98px) {

    /*----------------manu part start--------*/
    .main_manu {
        height: 80px;
        line-height: 80px;
    }

    .main_manu .logo_img img {
        width: 120px !important;
        margin-left: 20px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .main_manu button {
        color: #fff;
    }

    .main_manu button i {
        font-size: 30px;
    }

    .main_manu .search {
        display: none;
    }

    .main_manu ul {
        background: #303030;
        border-radius: 0 0 10px 50px;
    }

    .main_manu ul li a {
        text-align: center;
        background: #e8631c;
        line-height: 30px;
        margin: 5px 30px;
        border-radius: 30px;
        border: 1px solid #fff;
        transition: all linear .3s;

    }

    .nav-link:focus,
    .nav-link:hover {
        color: #fff;
    }

    .main_manu ul li a:hover {
        background: #fff;
        border: 2px solid #e8631c;
        color: #e8631c;
    }

    .main_manu ul li:first-child {
        margin-top: 20px;
    }

    .main_manu ul li:last-child {
        margin-bottom: 30px;
    }

    /*----------------manu part end--------*/
    /*----------------banner part start--------*/
    #banner {
        padding: 150px 0 60px;
    }

    .banner_text h1 {
        font-size: 60px;
    }

    .banner_text p {
        padding-right: 0;
        text-align: justify;
        font-size: 18px;
    }

    .banner_text a {
        padding: 10px 25px;
        font-size: 18px;
        margin-top: 20px;
    }

    /*----------------banner part end--------*/
    /*----------------tour part start--------*/
    #dance_ture {
        padding: 60px 0 60px;
    }

    .common_head h3 {
        font-size: 50px;
    }

    .common_head p {
        font-size: 18px;
        width: 70%;
        line-height: 22px;
        padding-top: 15px;
        text-align: center;
    }

    .dance_ture_col {
        margin-top: 40px;
    }

    .dance_text h3 {
        font-size: 25px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .dance_text p {
        font-size: 15px;
        line-height: 15px;
        padding: 0 30px 30px;
    }

    /*----------------tour part end--------*/
    /*----------------pricing part start--------*/
    #pricing {
        padding: 60px 0 60px;
    }

    .pricing_col {
        margin-top: 30px;
    }

    .pricing_col .icon {
        font-size: 100px;
    }

    .pricing_text h3 {
        font-size: 30px;
    }

    .pricing_text p {
        font-size: 16px;
        line-height: 17px;
        padding: 0 10px;
        padding-top: 10px;
    }

    .pricing_text a {
        font-size: 16px;
        padding: 10px 0;
        margin: 20px 30px 0;
    }

    .first_col {
        padding-right: 12px;
    }

    .second_col {
        padding-left: 12px;
    }

    /*----------------pricing part end--------*/
    /*----------------amazing part start--------*/
    .amazing_text {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .amazing_text h3 {
        font-size: 35px;
    }

    .amazing_text p {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        padding: 10px 20px 0;
    }

    .amazing_text a {
        font-size: 17px;
        padding-top: 30px;
        padding: 7px 80px;
        margin-top: 25px;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    /*----------------amazing part end--------*/
    /*----------------best part start--------*/
    #best {
        padding-top: 30px;
    }

    /*----------------best part end--------*/
    /*----------------pricing part start--------*/
    #statistics {
        padding: 60px 0;
    }

    .statistics_col {
        padding-top: 40px;
    }

    /*----------------pricing part end--------*/
    /*----------------bottom banner part start--------*/
    #bottom_banner {
        padding: 100px 0;
    }

    .bottom_banner_text p {
        font-size: 25px;
        line-height: 25px;
        width: 95%;
        text-align: center;
    }

    .bottom_banner_text h3 {
        font-size: 40px;
        padding-top: 10px;
    }

    /*----------------bottom banner part end--------*/
    /*----------------subscribe part start--------*/
    #subscribe {
        background: var(--hover);
        padding: 50px 0;
    }

    .subscribe_main form #email {
        width: 70%;
        height: 40px;
        font-size: 12px;
        margin-left: 40px;
    }

    .subscribe_main form {
        position: relative;
        text-align: left;
        padding: 12px;
    }

    .subscribe_main form button {
        width: 30%;
        height: 40px;
        font-size: 13px;
        line-height: 40px;
        position: absolute;
        top: 22px;
        right: 50px;
    }

    /*----------------subscribe part end--------*/
    /*----------------footer  part start--------*/
    #footer {
        padding: 20px 0 50px;
        text-align: center;
    }

    .footer_common_head h3 {
        font-size: 20px;
        padding-bottom: 10px;
        padding-top: 30px;
    }

    .related_text p {
        font-size: 14px;
        padding-right: 0px;
        line-height: 17px;
    }

    .icon_center {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .related_text ul li a {
        margin: 0 5px;
    }

    .related_text ul li a i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        margin: 15px 0 0;
    }

    .related_text ul li a i:hover {
        color: var(--hover);
    }

    .middel_helf {
        width: 33.33%;
        text-align: center;
    }

    .middel_text ul li a {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .other {
        width: 33.33%;
        text-align: center;
    }

    /*----------------footer part end--------*/
}

@media (max-width: 575.98px) {

    /*----------------manu part start--------*/
    .main_manu {
        height: 70px;
        line-height: 70px;
    }

    .main_manu .logo_img img {
        width: 100px !important;
        margin-left: 20px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .main_manu button {
        color: #fff;
    }

    .main_manu button i {
        font-size: 25px;
    }

    .main_manu .search {
        display: none;
    }

    .main_manu ul {
        background: #303030;
        border-radius: 0 0 10px 50px;
    }

    .main_manu ul li a {
        text-align: center;
        background: #e8631c;
        line-height: 20px;
        margin: 5px 30px;
        border-radius: 30px;
        border: 1px solid #fff;
        transition: all linear .3s;

    }

    .nav-link:focus,
    .nav-link:hover {
        color: #fff;
    }

    .main_manu ul li a:hover {
        background: #fff;
        border: 2px solid #e8631c;
        color: #e8631c;
    }

    .main_manu ul li:first-child {
        margin-top: 20px;
    }

    .main_manu ul li:last-child {
        margin-bottom: 20px;
    }

    /*----------------manu part end--------*/
    /*----------------banner part start--------*/
    #banner {
        padding: 120px 0 50px;
    }

    .banner_text h1 {
        font-size: 50px;
    }

    .banner_text p {
        padding-right: 0;
        text-align: justify;
        font-size: 16px;
    }

    .banner_text a {
        padding: 10px 20px;
        font-size: 15px;
        margin-top: 20px;
    }

    /*----------------banner part end--------*/
    /*----------------tour part start--------*/
    #dance_ture {
        padding: 50px 0 50px;
    }

    .common_head h3 {
        font-size: 40px;
    }

    .common_head p {
        font-size: 15px;
        width: 90%;
        line-height: 17px;
        padding-top: 15px;
        text-align: justify;
    }

    .dance_ture_col {
        margin-top: 30px;
    }

    .dance_text h3 {
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .dance_text p {
        font-size: 13px;
        line-height: 15px;
        padding: 0 30px 30px;
    }

    /*----------------tour part end--------*/
    /*----------------pricing part start--------*/
    #pricing {
        padding: 50px 0 50px;
    }

    .pricing_col {
        margin-top: 30px;
    }

    .pricing_col .icon {
        font-size: 100px;
    }

    .pricing_text h3 {
        font-size: 20px;
    }

    .pricing_text p {
        font-size: 13px;
        line-height: 17px;
        padding: 0 10px;
        padding-top: 10px;
    }

    .pricing_text a {
        font-size: 15px;
        padding: 10px 0;
        margin: 20px 30px 0;
    }

    .first_col {
        padding-right: 12px;
    }

    .second_col {
        padding-left: 12px;
    }

    /*----------------pricing part end--------*/
    /*----------------amazing part start--------*/
    .amazing_text {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .amazing_text h3 {
        font-size: 35px;
    }

    .amazing_text p {
        font-size: 14px;
        line-height: 18px;
        text-align: justify;
        padding: 10px 20px 0;
    }

    .amazing_text a {
        font-size: 15px;
        padding-top: 30px;
        padding: 7px 80px;
        margin-top: 25px;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    /*----------------amazing part end--------*/
    /*----------------best part start--------*/
    #best {
        padding-top: 30px;
    }

    /*----------------best part end--------*/
    /*----------------pricing part start--------*/
    #statistics {
        padding: 50px 0;
    }

    .statistics_col {
        padding-top: 30px;
    }

    /*----------------pricing part end--------*/
    /*----------------bottom banner part start--------*/
    #bottom_banner {
        padding: 80px 0;
    }

    .bottom_banner_text p {
        font-size: 20px;
        line-height: 25px;
        width: 95%;
        text-align: justify;
    }

    .bottom_banner_text h3 {
        font-size: 30px;
        padding-top: 10px;
    }

    /*----------------bottom banner part end--------*/
    /*----------------subscribe part start--------*/
    #subscribe {
        background: var(--hover);
        padding: 50px 0;
    }

    .subscribe_main form #email {
        width: 70%;
        height: 40px;
        font-size: 12px;
        margin-left: 20px;
    }

    .subscribe_main form {
        position: relative;
        text-align: left;
        padding: 12px;
    }

    .subscribe_main form button {
        width: 30%;
        height: 40px;
        font-size: 13px;
        line-height: 40px;
        position: absolute;
        top: 22px;
        right: 30px;
    }

    /*----------------subscribe part end--------*/
    /*----------------footer  part start--------*/
    #footer {
        padding: 20px 0 50px;
        text-align: center;
    }

    .footer_common_head h3 {
        font-size: 20px;
        padding-bottom: 10px;
        padding-top: 30px;
    }

    .related_text p {
        font-size: 14px;
        padding-right: 0px;
        line-height: 17px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .related_text ul li a i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        font-size: 15px;
        margin-top: 15px;
    }

    .icon_center {
        justify-content: center;
    }

    .middel_helf {
        width: 50%;
    }

    .middel_text ul li a {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .other {
        text-align: center;
    }

    .other .middel_text ul {
        display: flex;
    }

    .other .middel_text ul li {
        margin: 0 auto;
    }

    /*----------------footer part end--------*/
}